
<%- include("partials/header"); -%>

<div class="container">

<h3>BUNGEE JUMPING IN RISHIKESH: 60 SECS OF INSANE COURAGE</h3>
<p>Bungee Jumping in Rishikesh at Jumpin Heights proved to be more exciting and scarier than I had envisioned it to be. It was a special occasion as India’s First Extreme Adventure Zone and India’s Highest Bungee Jumping Platform was successfully completing 50, 000 Bungee Jumps. To mark this success, a gala event was organised that witnessed participation from over hundred jumpers, locals, and the ‘Dangal girls’ – Fatima Shaikh and Sanya Malhotra. Here’s my experience of being taken over by fear and ultimately winning over it.</p>
<p>And it wasn’t just me who was scared. Gaurav who had bungee-jumped a few years ago couldn’t do it again too. So, the theory of becoming less scared with more adventure might not be entirely correct. The best remedy to get over a fear is to not give it enough time in your mind to spread its wings.</p>



<h5  style="color:brown";>DID I LET FEAR WIN OVER ME?
</h5>
<img src="images/jump.jpg" width="600" >

</div>



<%- include("partials/footer"); -%>