<%- include("partials/header"); -%>


<div class="container">

<h3>WHY WOMEN IN KOLHAPUR ARE LEARNING AN ANCIENT INDIAN MARTIAL ART</h3>
<p>Kolhapur to me stood for the Mahalakshmi temple, Kolhapuri Chappal, Spicy Mutton and Lavani dance. On a beautiful spring morning when I alighted from the Deccan Odyssey luxury train as a part of India Blog Train initiative by Incredible India, I had no idea that a new name was going to be added to the ‘must do’ list.</p>


<img src="images/kol.jpg" width="600" >

<p>Mardani Khel performance – an ancient Indian martial art form, Kolhapur, Incredible India
    The most interesting thing about this ancient Indian martial art performance was seeing three generations of men, women and kids from 80 years to 3 years of age joining in unison to put together a show of Maratha valour, precision and pride.</p>





</div>









<%- include("partials/footer"); -%>