<%- include("partials/header"); -%>


<div class="container">


<h3>WELCOME TO THE CIRCUS – RANTHAMBORE JUNGLE SAFARI, INDIA</h3>
<p>Wildlife in India is both unique as well as exciting, which attracts tourists from all over the world. Amongst the Indian Wildlife Tours, the Tiger Safari Tours are the most popular as you get to watch the majestic Cats in their natural habitat. Here is my bitter-sweet Jungle Safari experience at Ranthambore National Park.
    Sitting at a beach-side bar. Live band playing. Adele, the undisputed queen of melody, is rocking the scene. Sometimes it hurts.
    
    The lyrics remind me of Ranthambore National Park. Baffled by the link between a sad love song and a National park? Well, the link is what gave birth to this article.</p>

<p>It is what I felt when I saw how Ranthambore National Park is slowly transforming into a circus. Though circuses have long gone out of business in India, National Parks are trying to take their place. Don’t believe me? Here’s my personal account on the plight of poor wild animals. Let’s rewind.</p>

<img src="images/wild.jpg" width="600" >
<p>Finally at 7 am our Tiger Safari canter arrived. No apologies were given. All seats were taken. Mostly foreigners except for two Indian families. One family had a 2-3 months old baby. Other family had a toddler and a 2 years old kid. I had no place to sit. So I had to involuntarily endure the bumpy ride while getting sun-baked. The sun was in punishing mood even though it was only mid-March.</p>




</div>




<%- include("partials/footer"); -%>